
body {
    background: url('fondolineas.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Rancho', cursive;
}

nav {
    background-color: #fad3b1;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    display: inline-block;
    font-size: 2em;
    padding: 0.5%;
    border: 4px solid #050505;
    border-radius: 5px;
}

li:hover {
    background-color: #f7f5f5;
    cursor: pointer;
}

a {
    color: #050505;
}


.fondo {
    background-color: #fec89aaa;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
h1 {
    font-size: 90px;
    display: block;
    text-align: center;
    padding-left: auto;
    padding-top: 5%;
}

h2 {
    display: flex;
    text-align: center;
    font-size: 50px;
    margin-left: 35%;
    margin-top: 0%;
}

h3 {
    display: flex;
    text-align: center;
    font-size: 40px;
    margin-left: 35%;
    margin-top: 0%;
    margin-bottom: 0;
}

.bienvenida {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15%;
}

.perfil {

    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-size: 30px;
}


hr {
    height: 3px;
    background-color: #ff3333;
    border-color: #cc0044;
    margin-bottom: 10%;
}

.contenedor-trabajos {
    width: 95%;
    margin-left: 3%;
    
}

.trabajos {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin: auto;
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

figure {
    padding: 4px;
    margin: 20px;
    display: inline-block;
}

.obratitulo {
    font-size: 30px;
    padding: 4px;
    text-align: center;
}

label {
    display: block;
    margin: 5%;
    font-size: 30px;
}

.contenedor-contacto {
    width: 80%;
    align-items: center;
    margin: auto 10% auto 10%;
}

.contenedor-inspiracion {
    width: 90%;
    align-items: center;
    margin: auto 5% auto 5%;
}

.social {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-left:20%;
    
}

.social-icon-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fad3b1;
    width: 20%;
    height: 40%;
    margin-left: 30%;
    border-radius: 6px;
}

.social-icon {
    font-size: 50px;
    color: #050505;
}

.social-text {
    font-size: 30px;
}

.social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: -10%;
    text-decoration: none;
}

.footer {
    background-color: #fad3b1;
    margin-top: 20px;
}

.footer_contenedor {
    max-width: 116rem;
    margin: auto;
    padding: 0 1.5rem;
    
}

.footer_titulo {
    font-size: 25px;
    margin-left: 1%;
}

.footer-texto {
    font-size: 20px;
}