
body {
    background: url('fondolineas.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Rancho', cursive;
}

nav {
    background-color: #fad3b1;
}
.navbar-brand {
    font-size: 30px;
}

.nav-item {
    font-size: 30px;
}


.fondo {
    background-color: #fec89a;
    margin-left: 20%;
    margin-right: 20%;
}
h1 {
    font-size: 90px;
    display: block;
    text-align: center;
    padding-left: auto;
    padding-top: 5%;
}

h2 {
    display: inline-block;
    text-align: center;
    font-size: 50px;
    margin-left: 35%;
    margin-top: 0%;
}

h3 {
    display: inline-block;
    text-align: center;
    font-size: 40px;
    margin-left: 35%;
    margin-top: 0%;
    margin-bottom: 0;
}

.bienvenida {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-size: 30px;
    margin-bottom: 15%;
}

.perfil {

    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-size: 30px;
}

hr {
    height: 3px;
    background-color: #ff3333;
    border-color: #cc0044;
    margin-bottom: 10%;
}

img {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: auto;
}

figure {
    padding: 4px;
    margin: 20px;
    display: inline-block;
}

.obratitulo {
    font-size: 30px;
    padding: 4px;
    text-align: center;
}

label {
    display: block;
    margin: 5%;
    font-size: 30px;
}

